:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body{
  background-image: url("https://media.istockphoto.com/id/498478219/sv/foto/stars-at-night-sky.jpg?s=612x612&w=0&k=20&c=IRhSuL6jHToDTWp2Tqk2vM3bpHWAcBfLWvnYh82XthU=") ;
  margin: 0;
}
#people{
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 30px;
  
}
li{
  border: solid yellow;
 transition: box-shadow 0.2s ease-in, transform 0.2s ease-in;
  background-image: url("/rymsboll.png");
  background-position: center;
  background-size: contain;
  transform: scale(1);


  border-radius: 50%;
  box-shadow: 0px 0px 20px 10px yellow;
  padding: 30px;
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
li:hover{
  box-shadow: 0px 0px 20px 10px rgb(128, 0, 128, 1.5);
  border-color: purple;
  transform: scale(1.05);

}